<main>
  <section class="welcome">
    <h1>Welcome to Dario s Blog App</h1>
  </section>
  <section class="users-list">
    <h2>List of users</h2>
    <% if @users.empty? %>
      <h3>Currently there are not users in the database</h3>
    <% else %>
      <% @users.each do |user| %>
        <div class="users-section">
          <div class="user-card">
            <%= link_to user_path(user.id) do %>
              <img src="<%=user.photo || image_url('user_icon.png') %>" alt="Image of user <%=user.name %>" title="<%=user.name %>" class="user-image">
              <h4><%= user.name %></h4>
              <p>Number of posts: <%= user.post_counter %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</main>

