<% form_with model: Post , url: user_posts_path , class: 'post-form', method: :post do |f| %>

  <div class="newpost-title">

    <%= f.lable :title %>
    <%= f.text_field :title, placeholder: 'Write the title of your post here', :required => true, class: 'new-title' %>

  </div>

  <div class="newpost-text">

    <%= f.lable :text %>
    <%= f.text_area :text, placeholder: 'Write your post here', :required => true, class: 'new-text' %>

  </div>

  <%= f.submit "Submit" class: 'submit' %>

<% end %>
